.alert-block {
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

.alert-success {
  background-color: green;
}

.alert-danger {
  background-color: red;
}

.alert-warning {
  background-color: orange;
}

.alert-info {
  background-color: blue;
}
